<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>

    <div id="app">
        <input type="text" @keyup="calculate" v-model="augend">
        <span>+</span>
        <input type="text" @keyup="calculate" v-model="addend">
        <span>=</span>
        <input type="text" :value="sum">
        <button @click="reset">清空数据</button>
    </div>


    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                augend: '',
                addend: '',
                sum: ''
            },
            methods: {
                calculate() {
                    this.sum = Number(this.augend) + Number(this.addend);
                },
                reset() {
                    this.sum = this.augend = this.addend = '';
                }
            }
        })
    </script>
</body>

</html>